{% extends 'default.njk' %}

{% block content -%}

<div class="section">
	<div class="wrapper">
		<div class="section__block">
			<div class="section__block-header">
				<div class="section__block-header-primary">
					<div class="heading section__block-heading">
						{{ data.mainHeading }} <span class="text-highlight">{{ data.mainHeadingHighlight }}</span>
					</div>

					<div class="section__block-desc">
						{{ data.mainHeaderDesc }}
					</div>
				</div>

				<div class="section__block-header-secondary">
					<div class="section__block-header-image">
						<img src="{{path.images.pages}}booking-confirm/{{ data.mainHeaderImage }}">
					</div>
				</div>
			</div>
		</div>

		<div class="section__block"></div>
	</div>
</div>

{%- endblock %}