{% extends 'default.njk' %}

{% block content -%}

<div class="section">
	<div class="wrapper">
		<div class="section__block">
			<div class="section__block-header">
				<div class="section__block-header-primary">
					<div class="heading section__block-heading">
						{{ data.mainHeading }} <span class="text-highlight text-break">{{ data.mainHeadingHighlight }}</span>
					</div>

					<div class="section__block-desc">
						{{ data.mainHeaderDesc }}
					</div>
				</div>

				<div class="section__block-header-secondary">
					<div class="section__block-header-image">
						<img src="{{path.images.pages}}helpdesk/{{ data.mainHeaderImage }}">
					</div>
				</div>
			</div>
		</div>

		<div class="section__block">
			<div class="helpdesk">
				<div class="helpdesk__block">
					<div class="helpdesk__block-wrapper">
						<div class="helpdesk__title">
							Whatsapp or Call
							
							<span class="helpdesk__title-highlight text-break">
								Click at the number below to communicate with our customer support.
							</span>
						</div>

						<div class="helpdesk__contents">
							<a href="https://wa.link/dvbo3y" target="_blank">
                                <i class="fab fa-whatsapp-square"></i>

                                <span>016 620 0911</span>
                            </a>

                            <a href="https://wa.link/0k8lvd" target="_blank">
                                <i class="fab fa-whatsapp-square"></i>
                                
                                <span>016 614 0911</span>
                            </a>
						</div>
					</div>
				</div>

				<div class="helpdesk__block">
					<div class="helpdesk__block-wrapper">
						<div class="helpdesk__title">
							Hotline Number
							
							<span class="helpdesk__title-highlight text-break">
								You can contact the customer service representative.
							</span>
						</div>

						<div class="helpdesk__contents">
							<a href="tel:0166200911">
                                <i class="fas fa-phone-square-alt"></i>

                                <span>016 620 0911</span>
                            </a>

                            <a href="tel:0166140911">
                                <i class="fas fa-phone-square-alt"></i>
                                
                                <span>016 614 0911</span>
                            </a>
						</div>
					</div>
				</div>

				<div class="helpdesk__block">
					<div class="helpdesk__block-wrapper">
						<div class="helpdesk__title">
							Email to us
							
							<span class="helpdesk__title-highlight text-break">
								Email to us if you have any concern about our service
							</span>
						</div>

						<div class="helpdesk__contents">
							<a href="mailto:helpdesk@ientry.com.my">
                                <i class="fas fa-envelope-square"></i>

                                <span>helpdesk@ientry.com.my</span>
                            </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{%- endblock %}