/*-----------------------------------------------------------------------------
    $ Partial Underline
-----------------------------------------------------------------------------*/

.partial-underline-left {
  &:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 15px;
    background-color: $blue-2;
  }

  &.white-- {
    &:after {
      background-color: $white;
    }
  }
}

.partial-underline-middle {
  &:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: $blue-2;
  }
}
