/*-----------------------------------------------------------------------------
    $ Site Footer
-----------------------------------------------------------------------------*/

.site-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $blue-1;
    font-size: 12px;
    color: $white;
}
	.site-footer__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.site-footer__socmed-title {
		margin-right: 5px;
	}
    .site-footer__copyright,
    .site-footer__socmed {
        margin: 5px 0;
        display: inline-block;
        vertical-align: middle;
    }

        .site-footer__socmed-link {
        	display: inline-block;
            &:hover {
                opacity: 0.7;
            }
        }

        .site-footer__socmed-icon {
            margin: 3px;
            vertical-align: middle;
            font-size: 24px;
            color: $orange;
        }

    .site-footer__copyright {
        max-width: 200px;
        font-size: 10px;
        text-align: left;
    }


@media ($bp-sm) {
    .site-footer__copyright {
        max-width: none;
        font-size: 12px;
        text-align: none;
    }
}

@media ($bp-xs-dn) {
    .site-footer__block {
        flex-direction: column;
    }
    .site-footer__copyright {
        max-width: 100%;
        text-align: center;
    }
}
