/*-----------------------------------------------------------------------------
    $ Text
-----------------------------------------------------------------------------*/

.text-highlight {
  color: $orange;
}

.text-break {
  display: block;
}

.text-small {
  font-size: 13px;
}
